In [5]:
import numpy as np
import pandas as pd
from apyori import apriori

In [6]:
store_data = pd.read_excel('D:skripsi/dataset.xlsx')

In [7]:
store_data.head()

,id_toko,kategori_1,kategori_2,kategori_3,kategori_4,kategori_5,kategori_6,kategori_7,kategori_8
0,Blankwear Official Shop,5,3,5,5,4,0,3.0,1
1,Oldblue Co. Official Shop,5,5,4,5,3,1,2.0,1
2,ONIC Esports Official Shop,5,5,5,5,3,0,2.0,1
3,iNeat Official Shop,4,3,3,5,2,2,2.0,1
4,Mailmo Official Shop,4,4,3,5,2,2,2.0,1

In [8]:
store_data.tail()

,id_toko,kategori_1,kategori_2,kategori_3,kategori_4,kategori_5,kategori_6,kategori_7,kategori_8
650,CORNER.ID Official Shop,1,5,3,5,3,2,5.0,1
651,Vearst Official Shop,1,3,1,5,1,1,1.0,1
652,House of Smith Authorized Store Banjarmasin,1,5,1,5,2,2,1.0,1
653,Morwick Official Shop,1,3,1,5,1,4,0.0,1
654,Giordano Official Shop,1,5,1,5,1,2,2.0,1

In [9]:
store_data.shape

(655, 9)

In [10]:
records = []
for i in range(0, 655) :
 records.append([str(store_data.values[i,j]) for j in range(0,9)])

In [11]:
association_rules = apriori(records, min_support=0.5, min_confidence=0.7, min_left=1.5, min_lenght=4)
association_results = list(association_rules)

In [12]:
print(len(association_results))

7

In [13]:
print((association_results))

[RelationRecord(items=frozenset({'1'}), support=0.9954198473282443, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'1'}), confidence=0.9954198473282443, lift=1.0)]), RelationRecord(items=frozenset({'2'}), support=0.749618320610687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'2'}), confidence=0.749618320610687, lift=1.0)]), RelationRecord(items=frozenset({'5'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'5'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'1', '2'}), support=0.7450381679389313, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'1', '2'}), confidence=0.7450381679389313, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'2'}), confidence=0.7484662576687117, lift=0.9984631339572426), OrderedStatistic(items_base=frozenset({'2'}), items_add=frozenset({'1'}), confidence=0.9938900203665988, lift=0.9984631339572426)]), RelationRecord(items=frozenset({'5', '1'}), support=0.9954198473282443, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'5', '1'}), confidence=0.9954198473282443, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'5'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'5'}), items_add=frozenset({'1'}), confidence=0.9954198473282443, lift=1.0)]), RelationRecord(items=frozenset({'5', '2'}), support=0.749618320610687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'5', '2'}), confidence=0.749618320610687, lift=1.0), OrderedStatistic(items_base=frozenset({'2'}), items_add=frozenset({'5'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'5'}), items_add=frozenset({'2'}), confidence=0.749618320610687, lift=1.0)]), RelationRecord(items=frozenset({'5', '1', '2'}), support=0.7450381679389313, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'5', '1', '2'}), confidence=0.7450381679389313, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'5', '2'}), confidence=0.7484662576687117, lift=0.9984631339572426), OrderedStatistic(items_base=frozenset({'2'}), items_add=frozenset({'5', '1'}), confidence=0.9938900203665988, lift=0.9984631339572426), OrderedStatistic(items_base=frozenset({'5'}), items_add=frozenset({'1', '2'}), confidence=0.7450381679389313, lift=1.0), OrderedStatistic(items_base=frozenset({'1', '2'}), items_add=frozenset({'5'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'5', '1'}), items_add=frozenset({'2'}), confidence=0.7484662576687117, lift=0.9984631339572426), OrderedStatistic(items_base=frozenset({'5', '2'}), items_add=frozenset({'1'}), confidence=0.9938900203665988, lift=0.9984631339572426)])]

In [14]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(item[0])
    value1 = str(item[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]
    
    rows = (value0,value1,value2,value3,value4)
    results.append(rows)
    label = ['title1','title2','Support','confidence','lift',]
    store_suggestion = pd.DataFrame.from_records(results,columns=label)
    print(store_suggestion)

             title1              title2 Support confidence lift
0  frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
             title1              title2 Support confidence lift
0  frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1  frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
             title1              title2 Support confidence lift
0  frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1  frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
2  frozenset({'5'})                 1.0     1.0        1.0  1.0
                  title1              title2 Support confidence lift
0       frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1       frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
2       frozenset({'5'})                 1.0     1.0        1.0  1.0
3  frozenset({'1', '2'})  0.7450381679389313  0.7450     0.7450  1.0
                  title1              title2 Support confidence lift
0       frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1       frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
2       frozenset({'5'})                 1.0     1.0        1.0  1.0
3  frozenset({'1', '2'})  0.7450381679389313  0.7450     0.7450  1.0
4  frozenset({'5', '1'})  0.9954198473282443  0.9954     0.9954  1.0
                  title1              title2 Support confidence lift
0       frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1       frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
2       frozenset({'5'})                 1.0     1.0        1.0  1.0
3  frozenset({'1', '2'})  0.7450381679389313  0.7450     0.7450  1.0
4  frozenset({'5', '1'})  0.9954198473282443  0.9954     0.9954  1.0
5  frozenset({'5', '2'})   0.749618320610687  0.7496     0.7496  1.0
                       title1              title2 Support confidence lift
0            frozenset({'1'})  0.9954198473282443  0.9954     0.9954  1.0
1            frozenset({'2'})   0.749618320610687  0.7496     0.7496  1.0
2            frozenset({'5'})                 1.0     1.0        1.0  1.0
3       frozenset({'1', '2'})  0.7450381679389313  0.7450     0.7450  1.0
4       frozenset({'5', '1'})  0.9954198473282443  0.9954     0.9954  1.0
5       frozenset({'5', '2'})   0.749618320610687  0.7496     0.7496  1.0
6  frozenset({'5', '1', '2'})  0.7450381679389313  0.7450     0.7450  1.0

In [15]:
store_suggestion.describe()

                       title1              title2 Support confidence lift
count                       7                   7       7          7    7
unique                      7                   4       4          4    1
top     frozenset({'1', '2'})  0.9954198473282443  0.9954     0.9954  1.0
freq                        1                   2       2          2    7

In [16]:
store_suggestion.to_excel('D:/skripsi/hasil.xlsx')